// Color Variables
$primary-dark: #323232;
$primary-medium: #afafaf;
$primary-light: #ffffff;
$secondary-dark: #000000;
$secondary-medium: #e1e1e1;
$secondary-light: #fafafa;
$black: #000000;
$red: #f0281a; // yellow alt: rgb(255, 201, 77)
$red-light: #f0281a0f; // yellow alt: rgb(255, 201, 77)

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// Screen Breakpoints
$tablet-breakpoint: 48rem; //768px
$desktop-breakpoint: 80rem; //1280px
