// Color Variables
$primary-dark: #323232;
$primary-medium: #AFAFAF;
$primary-light: #FFFFFF;
$secondary-dark: #000000;
$secondary-medium: #E1E1E1;
$secondary-light: #FAFAFA;

// Screen Breakpoints
$tablet-breakpoint: 48rem; //768px
$desktop-breakpoint: 80rem; //1280px
